:root {
    --primary-color: #f8f8f8; /* Color primario similar a Bootstrap */
    --secondary-color: #6c757d; /* Color secundario */
    --footer-background: #263238; /* Fondo del footer */
    --footer-text-color: #f8f8f8; /* Color del texto del footer */
    --footer-link-color: #d1e8ff; /* Color de los enlaces */
}



footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 5px 0;
    font-size: 11px;
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none; /* Elimina el subrayado */
}

footer a:hover {
    color: var(--primary-color); /* Cambia el color al pasar el ratón */
}

/* Resto del CSS existente... */
footer .container {
    width: 80%;
    margin: auto;
    max-width: 1200px; /* Ancho máximo */
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

footer .col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1; /* Ocupa el espacio disponible */
}
footer .headin5_amrc {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

footer p {
    line-height: 1.5;
}

/* Resto del CSS existente... */
footer .fa {
    font-size: 1rem; /* Tamaño de los iconos */
    margin-right: 10px;
}

footer .social_footer_ul {
    text-align: center;
    padding-top: 5px;
}

 footer .social_footer_ul li {
    display: inline;
    margin: 0 10px;
}

footer .social_footer_ul li a {
    color: var(--footer-text-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 50%;
    padding: 8px;
}

/* Resto del CSS existente... */

@media (max-width: 768px) {
  footer  .col {
        flex-basis: 100%; /* En pantallas pequeñas, cada columna ocupa el 100% */
    }
}

/* Estilos existentes... */

@media (max-width: 768px) {
  footer  .row {
        display: block;
    }

  footer  .col {
        width: 100%;
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    }

    /* Selecciona las dos primeras columnas de cada fila */
  footer  .row .col:first-child, .row .col:nth-child(2) {
        width: 50%;
        float: left; /* Hace que las columnas se alineen horizontalmente */
    }

  footer  .row .col:nth-child(3) {
        width: 100%;
        float: none; /* Asegura que esta columna ocupe toda la fila */
        clear: both; /* Evita que esta columna se alinee junto a las anteriores */
    }
}

/* Resto del CSS existente... */
