

.productos_restaurantes{
  padding: 4px;
  margin: 4px;
}
.productos_restaurantes a{
  color: #000;
}
.productos_restaurantes article{
  cursor:pointer;
  display: block;
}
.contenedor_informaciongeneral_tienda{

  width: 100px;
}

.productos_restaurantes{
  text-align: center;
}
.articulo_lista_salida {
  display: flex;
  flex-direction: column; /* Hace que los elementos hijos se apilen verticalmente */
  align-items: center; /* Alinea verticalmente los elementos hijos */
  margin: 0;
  padding: 0;
}

.articulo_lista_salida .contenedor_informaciongeneral_tienda{
  font-size: 12px;
  display: grid;
  align-items: center;

}
.olmedo_secundario_jl{
  margin: 5px;
  width: 18%;
  display: inline-block;

  border-radius: 4px;
}
.nombre_producto_empresa_out{
  font-weight: bold;
}

.nav__logo a {
  text-decoration: none;
  color: #fff;
}

/* Define la animación de temblor */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.olmedo_secundario_jl:hover {
  box-shadow: 0px 0px 3px 0px #263238; /* Sombra al pasar el mouse */
  /* Aplica la animación al pasar el mouse */
  animation: shake 0.5s ease-in-out;
  animation-delay: 0.5s; /* Retrasa la animación en medio segundo */
}



.product img {
  width: 100%;
  height: auto;
}

.product .product-content {
  position: relative;
  width: 100%; /* Ancho del contenedor del producto */
  height: 110px; /* Altura fija para el contenedor del producto */
  justify-content: center; /* Centrado horizontal para los elementos internos */
  align-items: center; /* Centrado vertical para los elementos internos */
}
.product .product-price {
  padding: 5px;
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 0px;
  border-radius: 4px;
  font-size: 10px;
}

.product-name {
  background-color:  #3b9429   ;
  color: white;
  padding: 5px;
  z-index: 1;
  position: absolute;
  top: 5px;
  right: 9px;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0.8; /* Este valor puede variar de 0 a 1 */
}



.result_estrellas {
  text-align: center;
  margin: 0 auto;

}

.product .product-content img {
  width: auto; /* o podrías usar '100%' si quieres que la imagen se estire a lo ancho */
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  max-height: 100%; /* Asegura que la imagen no se desborde de la altura del contenedor */
  object-fit: contain; /* Ajustará la imagen dentro del contenedor sin cortarla */
}


.olmedo_secundario_jl{
  background: #fff;
}


.articulo_lista_salida .contenedor_informaciongeneral_tienda {
  padding: 5px;
    font-size: 12px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    width: 200px; /* Ancho fijo */
    height: 140px; /* Altura fija */
}
.als_imagen {
  margin-top: 300px;
}

.contenedor_informaciongeneral_tienda p {
  margin: 0; /* Elimina los márgenes por defecto */
  padding: 5px 0; /* Añade un poco de padding arriba y abajo, ajusta según necesites */
  display: block; /* Esto ya está implícito para elementos p, pero está bien ser explícito */
}
@media (max-width:1000px ) {
  .product {
    width: 110px;
    height: 100px;
  }


  .input-group.flex-column {
    flex-direction: column;
    align-items: center;
  }

  .input-group-btn {
      width: 100%; /* Asegúrate de que los botones ocupen todo el ancho */
  }

  .input-group-btn button,input{
    width: 50%;
    margin: 3px;
  }

  .result_estrellas {
    top: 76px;
    width: 115px;
  }
  .result_estrellas label{
    font-size: 11px !important;
  }

  .product-name {
    font-size: 11px;
  }


}


@media (max-width: 435px) {
  .articulo_lista_salida .contenedor_informaciongeneral_tienda {
      width: 100px; /* Ancho fijo */
      font-size: 11px;
  }

  .olmedo_secundario_jl{
    margin: 8px;
    width: 45%;
    display: inline-block;
    border-radius: 4px;
  }

  .product {
    width: 230px;
  }

  .articulo_lista_salida .contenedor_informaciongeneral_tienda {
    width: 180px; /* Ancho fijo */
  }

  .product .product-content img {
    max-width: 75%; /* Asegura que la imagen no se desborde del contenedor */
    max-height: 75%; /* Asegura que la imagen no se desborde de la altura del contenedor */
  }

  .product-category {
    top: 0px;
  }

  .product-name {
    font-size: 10px;
  }

  .als_imagen {
    margin-top: 700px;
  }

}
