.modal_principal{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  display: none;

}
.modal_secundario{
  width: 100%;
  height: 460px;;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}


.modal_principal .modal_secundario form {
  width: 420px;
  text-align: center;

}
.modal_principal .modal_secundario .img_modal img {
  width: 60px;
}

.modal_principal .modal_secundario button{
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}
.modal_principal .modal_secundario a{
  padding: 5px;
  background: #c1c1c1;
  width: 300px;
  border-radius: 3px;
}
.modal_principal .modal_secundario button:hover{
  background: #3b5998;
}

.modal_principal .modal_secundario a:hover{
  background: #EAA9A0;
}

#cerrar {
  width: 15px;
}




 .tutu_product {
   text-align: center;
 }

.servicios_totales{
  text-align: center;
  margin: 10px;
}

.servicios_totales .agrergar_producto_tienda {
  display: inline-block;
  width: 350px;
  height: 170px;
  padding: 10px;
  margin: 4px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}
.servicios_totales img{
  width: 30px;
}


.servicios_totales  a{
  padding: 6px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}

.servicios_totales  a:hover{
  font-size: 16px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 4px;
  background: #C0C6CB;

}


.servicios_totales .agrergar_servicio_tienda {
  display: inline-block;
  width: 350px;
  height: 170px;
  padding: 10px;
  margin: 4px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;

}
.servicios_totales .agrergar_cuenta_digital_tienda {
  display: inline-block;
  width: 350px;
  height: 170px;
  padding: 10px;
  margin: 4px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;

}



/*Estilos para agrergar producto*/
.modal_add_servicios .bodyModal_add_servicios{
background: rgba(0, 0, 0, 0);
}

.modal_add_servicios .bodyModal_add_servicios .form_add_producto{
  background: #F2F2F2;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
  margin: 4px;
  padding: 10px;
}
.modal_add_servicios .bodyModal_add_servicios  input{
  width: 100%;
  text-align: center;
  padding: 4px;
  margin: 4px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios  select {
    text-align: center;
    padding: 4px;
    margin: 3px;
    border-color: #4C5484;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios .alerteditt_add_servicios{
  padding: 4px;
  margin: 3px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios .alerteditt_add_servicios img{
  width: 20px;
}
.modal_add_servicios .bodyModal_add_servicios .alert_positiva{
  background: #5FCD56;
}

.modal_add_servicios .bodyModal_add_servicios .alert_negativa{
  background: #EA3232;
}
.modal_add_servicios .bodyModal_add_servicios .precio_real{
  color: #317B2C;
}



/*Estilos para agrergar producto*/
.modal_add_servicios .modal_add_servicios_empre{
background: rgba(0, 0, 0, 0);
}

.modal_add_servicios .bodyModal_add_servicios .form_add_producto{
  background: #F2F2F2;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
  margin: 4px;
  padding: 10px;
}
.modal_add_servicios .bodyModal_add_servicios  input{
  width: 100%;
  text-align: center;
  padding: 4px;
  margin: 4px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios  select {
    text-align: center;
    padding: 4px;
    margin: 3px;
    border-color: #4C5484;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios .alerteditt_add_servicios{
  padding: 4px;
  margin: 3px;
  border-color: #4C5484;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
}
.modal_add_servicios .bodyModal_add_servicios .alerteditt_add_servicios img{
  width: 20px;
}
.modal_add_servicios .bodyModal_add_servicios .alert_positiva{
  background: #5FCD56;
}

.modal_add_servicios .bodyModal_add_servicios .alert_negativa{
  background: #EA3232;
}
.modal_add_servicios .bodyModal_add_servicios .precio_real{
  color: #317B2C;
}









@media screen and (max-width:700px ) {
  .modal_secundario{
    width: 65%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }



}
