.cuerpo_notas_credito{
  text-align: center;
}

.informacion_nota_jgh{

  /*padding: 15px;

  margin: 15px;*/

}

.formulario_nota_{
  background: #fff;
  padding: 10px;
  margin: 5px;
}

.archivos_busqueda_jhgf img{
  width: 60px;
}
