  .tipos_today{
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .tipos_today h2{
    font-size: 16px;
      color: #fff;
      padding: 3px;
  }
.tipo_w{
  display: inline-block;
  width: 120px;
  padding: 1px;
  margin: 5px;
  background: #4C5484;
  border-radius: 5px;

}
.buscador_new{
  text-align: center;
}
.buscador_new img{
  width: 125px;
}
.buscador_new input{
  border-color: #4C5484;
border-width: 1px;
border-style: solid;
border-radius: 9px;
text-align: center;
width: 350px;
height: 22px;
}
