.contenido_informacion_compras {
  background: #c1c1c1;
  text-align: center;
}
.contenido_informacion_compras table{
  margin: 0 auto;
}
.contenido_informacion_compras .encabezado_mis_compras {
  background: #232F3E;
  color: #fff;
}

.contenido_informacion_compras .encabezado_mis_compras td{
  padding: 5px;
}
.resultado_mis_compras{
  font-size: 12px;
}
.contenido_informacion_compras  .resultado_mis_compras td{

 padding: 8px;
}
.resultado_mis_compras .positiva{
  background: #3CB818;
  padding: 3px;
  border-radius: 5px;
}
.resultado_mis_compras .cancelada{
  background: #EEC627;
  padding: 3px;
  border-radius: 5px;
}
.resultado_mis_compras .reportada{
  background: #ED3838;
  padding: 3px;
  border-radius: 5px;
}
