.musica_tienda{
  padding: 8px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-color: #4C5484;
border-width: 1px;
border-style: solid;
border-radius: 9px;
}
.musica_tienda img {
  width: 80px;
  border-radius:50px;
}
.musica_tienda a{
  background: #232F3E;
  color: #fff;
  padding: 5px;
  margin: 3px;
}
